<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.video1.fense523">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- WFT Pay -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- UMeng -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.video1.fense523.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="先锋影院"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- UMeng密钥 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5731af6fe0f55a8b830012aa" />
        <!--<meta-data-->
            <!--android:name="UMENG_CHANNEL"-->
            <!--android:value="${APP_CHANNEL_VALUE}" />-->

        <activity android:name="com.video1.fense523.ui.activity.MainActivity" />
        <!-- WFT Pay Activity -->
        <activity
            android:name="com.switfpass.pay.activity.QQWapPayWebView"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video1.fense523.ui.activity.SplashActivity"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.video1.fense523.ui.activity.VideoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name="com.video1.fense523.ui.activity.ActiveActivity" />
        <activity android:name="com.video1.fense523.ui.activity.ProtocolActivity" />
        <activity
            android:name="com.video1.fense523.ui.activity.VideoPlayActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name="com.video1.fense523.ui.activity.PayActivity"
            android:label="订单详情"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity android:name="com.video1.fense523.ui.activity.ListActivity" />
    </application>

</manifest>
